body {
    background: #333333;
    color: white;
    font-family: 'Play', sans-serif;
}

p {
    margin: 0px;
}

#playField {
    position: absolute;
    border: 1px solid white;
    left: 50%;
    top: 50%;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
}

div.square {
    position: absolute;
    border: 1px solid white;
    text-align: center;
}

div.square.covered {
    background-color: #888888;
}

div.square.flagged {
    background-color: #FF6A00;
    background-image: url(../images/flag_16.png); 
    background-repeat: no-repeat;
    background-position: center;
}

div.square.exploded {
    /* background-color: red; */
    /* box-shadow: 0px 0px 10px yellow; */
    z-index: 50;
    border: 1px solid transparent;
    overflow: visible;
}

div.square.exploded:after {
    background-image: url(../images/crater_32.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 32px;
  	height: 32px;
    content: "";
	display: block;
	margin-left: -6px;
	margin-top: -6px;
}

div.overlay {
    position: absolute;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid transparent;
    left: 50%;
    top: 50%;
}

div.overlay p {
    position: absolute;
    left: 50%;
    top: 50%;
    text-align: center;
    font-size: 200px;
    text-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

p.squareText {
    margin: 0px;
}

@-webkit-keyframes boom {
/* @keyframes boom { */
	0%     { -webkit-transform: translateZ(0) translateX(93px)   translateY(0px); }
	25%    { -webkit-transform: translateZ(0) translateX(-837px) translateY(0px); }
	25.01% { -webkit-transform: translateZ(0) translateX(93px)   translateY(-100px); }
	50%    { -webkit-transform: translateZ(0) translateX(-837px) translateY(-100px); }
	50.01% { -webkit-transform: translateZ(0) translateX(93px)   translateY(-200px); }
	75%    { -webkit-transform: translateZ(0) translateX(-837px) translateY(-200px); }
	75.01% { -webkit-transform: translateZ(0) translateX(93px)   translateY(-300px); }
	100%   { -webkit-transform: translateZ(0) translateX(-837px) translateY(-300px); }
}

div.explosion {
	position: absolute;
	width: 93px;
	height: 100px;
	overflow: hidden;
	z-index: 51;	
	/*border: 1px orange dashed;*/
}

div.explosion:after {
	background-image: url(../images/sprite-explosion.png);
	/*-webkit-animation: boom 2s steps(10, start) infinite;*/
	-webkit-animation: boom 2s steps(10, start);
	-webkit-animation-fill-mode: forwards;
	/*position: absolute;*/
	width: 930px;
	height: 400px;
	content: "";
	display: block;
	/*border: 1px blue dashed;*/
}
